#explanation {
  padding: 30px; 
}

#board {
  margin-left: 20px;
}

#canvasBoard {
  border: 2px solid grey;  
  /* background-color: rgba(54, 219, 248, 0.692); */
}

#lives{
  color: red;
}

.container {
  margin: 0 auto;
  margin-top: 50px;
  width: 800px;
  display: flex;
  justify-content: center;
  /* border: 1px solid orange; */
}

.container-points {
  display: flex;
  justify-content: space-between;
}

#startButton{
  padding: 10px;
  background: rgba(235, 222, 43, 0.774);
  border: 1px solid orange;
}